[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ccImpute"]
	path = ccImpute
	url = https://github.com/khazum/ccimpute
	shallow = true
	registered = true
